<!DOCTYPE html>
<html>

    <!-- This code is only meant for previewing your Reflow design. -->

    <head>
	<link rel="stylesheet" href="boilerplate.css">
	<link rel="stylesheet" href="how to help.css">
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="box" class="clearfix">
            <div id="box1" class="clearfix">
                <div id="box2" class="clearfix">
                    <p id="text">
                    <br />
                    </p>
                    <p id="text1">
                    ALLtruism
                    </p>
                </div>
                <div id="box3" class="clearfix">
                    <p id="text2">
                    Search&#x3a; Organizations, volunteers, and events
                    </p>
                    <p id="text3">
                    <span id="textspan"></span><br />
                    </p>
                </div>
                <p id="text4">
                DISCOVER &nbsp; &#x7c; &nbsp; LOGIN
                </p>
            </div>
        </div>
        <div id="box4" class="clearfix">
            <div id="box5" class="clearfix">
                <p id="text5">
                Join ALLtruism
                </p>
                <p id="text6">
                I want to sign up as a&#x3a;
                </p>
                <div id="box6" class="clearfix">
                    <a href="../users/new">
                    	<input id="input" type="button" value="VOLUNTEER"></input>
		    </a>
                    <a href="../organizations/new">
                        <input id="input1" type="button" value="NONPROFIT"></input>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
