<%= form_tag static_pages_search_path, :method => 'get' do %>
  <%= text_field_tag :search, nil, :placeholder => 'Search for an organization or event' %>
<% end %>
<p>
  <%= link_to 'Browse all events', events_path %>
</p>
