<!DOCTYPE html>
<html>

    <!-- This code is only meant for previewing your Reflow design. -->

    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    </head>
    <body>

      <div id="homebody" style="width:auto; margin-bottom:50px;">
        <div id="box3" class="clearfix">
            <p id="text4">
            Join ALLtruism
            </p>
            <p id="text5">
            I want to sign up as a&#x3a;
            </p>
            <div id="box4" class="clearfix">
                <input id="input" type="button" value="VOLUNTEER"></input>
                <a href="register_your_org.html">
                    <input id="input1" type="button" value="NONPROFIT"></input>
                </a>
            </div>
        </div>
  </div>
   
    </body>
</html>