// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#OrgRegistration {
    float: none;
    margin-left: auto;
  margin-right: auto;
    padding-left: 10px;
  padding-right:10px;
    margin-top: 63px;
  margin-bottom: 20px;
    clear: none;
    width: 556.015625px;
    background-color: rgb(232, 229, 229);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

#box {
    float: left;
    height: 48px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    background-color: rgb(122, 201, 67);
}

#box3 {
    float: left;
    height: 29px;
    margin-left: 1.208891%;
    margin-top: 3px;
    clear: none;
    width: 381.0625px;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
    opacity: 0.7;
}

#text2 {
    float: left;
    font-size: 1em;
    width: 86.120223%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.804166%;
    margin-top: 6px;
    clear: none;
    min-height: 0px;
    font-style: italic;
    color: rgb(122, 109, 109);
    margin-right: 0%;
}

#text4 {
    float: left;
    font-size: 1.2em;
    width: 25.982108%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 10.486343%;
    margin-top: 7px;
    clear: none;
    min-height: 22px;
    color: rgb(255, 255, 255);
    font-family: Lato;
    margin-right: 0%;
}

#box4 {
    float: none;
    height: 825px;
    margin-left: auto;
    margin-top: 79px;
    clear: none;
    width: 510.027px;
    margin-right: auto;
}

#box6 {
    float: left;
    height: 106px;
    margin-left: 0.01531816%;
    margin-top: 2.5px;
    clear: both;
    width: 100%;
}

.col {
    float: left;
    font-size: 1.6em;
    width: 52.238944%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 42px;
    color: rgb(73, 65, 65);
    font-family: Lato;
}

#box1 {
    float: none;
    height: 41px;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    width: 897.00000474px;
    margin-right: auto;
}

#formgroup {
    float: left;
    height: 56px;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 69.765492%;
}

#textinput {
    float: none;
    height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
    font-style: italic;
    color: rgb(122, 109, 109);
    background-color: rgb(221, 217, 217);
}

#text7 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#box5 {
    float: left;
    height: 85px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
}

#text5 {
    float: none;
    font-size: 2.2em;
    width: 84.850342%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 16px;
    clear: none;
    min-height: 69px;
    font-family: Lato;
    color: rgb(73, 65, 65);
    margin-right: auto;
}

#box7 {
    float: left;
    height: 174px;
    margin-left: 0%;
    margin-top: 5px;
    clear: both;
    width: 100%;
}

#text8 {
    float: left;
    font-size: 1.6em;
    width: 52.238943%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.08123697%;
    margin-top: 0px;
    clear: none;
    min-height: 42px;
    color: rgb(73, 65, 65);
    font-family: Lato;
    display: block;
    margin-right: 0%;
}

#formgroup1 {
    float: left;
    height: 56px;
    display: block;
    text-align: left;
    margin-left: 0.10109984%;
    margin-top: 0px;
    clear: both;
    width: 93.9769%;
    margin-right: 0%;
}

#text9 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-style: normal;
    color: rgb(73, 65, 65);
}

#textinput1 {
    float: none;
    height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
    font-style: italic;
    color: rgb(122, 109, 109);
    background-color: rgb(221, 217, 217);
}

#formgroup2 {
    float: left;
    height: 56px;
    display: block;
    text-align: left;
    margin-left: -0.00612726%;
    margin-top: 14px;
    clear: both;
    width: 81.358825%;
    margin-right: 0%;
}

#textinput2 {
    float: none;
    height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
    font-style: italic;
    color: rgb(122, 109, 109);
    background-color: rgb(221, 217, 217);
}

#text10 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-style: normal;
    color: rgb(73, 65, 65);
}

#box8 {
    float: left;
    height: 111px;
    margin-left: 0.22058148%;
    margin-top: 9px;
    clear: both;
    width: 100%;
    display: block;
    margin-right: 0%;
}

#text11 {
    float: left;
    font-size: 1.6em;
    width: 52.238943%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.08123697%;
    margin-top: 0px;
    clear: none;
    min-height: 42px;
    color: rgb(73, 65, 65);
    font-family: Lato;
    display: block;
    margin-right: 0%;
}

#formgroup3 {
    float: left;
    height: 56px;
    display: block;
    text-align: left;
    margin-left: 0.10290016%;
    margin-top: 0px;
    clear: both;
    width: 81.358824%;
    margin-right: 0%;
}

#textinput3 {
    float: none;
    height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
    font-style: italic;
    color: rgb(122, 109, 109);
    background-color: rgb(221, 217, 217);
}

#text12 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-style: normal;
    color: rgb(73, 65, 65);
}

#box9 {
    float: left;
    height: 191px;
    margin-left: 0.22670874%;
    margin-top: 11px;
    clear: both;
    width: 100%;
    display: block;
    margin-right: 0%;
}

#text13 {
    float: left;
    font-size: 1.6em;
    width: 52.238943%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.08123697%;
    margin-top: 0px;
    clear: none;
    min-height: 42px;
    color: rgb(73, 65, 65);
    font-family: Lato;
    display: block;
    margin-right: 0%;
}

#formgroup4 {
    float: left;
    height: 56px;
    display: block;
    text-align: left;
    margin-left: 0.10290016%;
    margin-top: 0px;
    clear: both;
    width: 81.358824%;
    margin-right: 0%;
}

#textinput4 {
    float: none;
    height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
    font-style: italic;
    color: rgb(122, 109, 109);
    background-color: rgb(221, 217, 217);
}

#text14 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-style: normal;
    color: rgb(73, 65, 65);
    font-family: Lato;
}

#formgroup5 {
    float: left;
    height: 56px;
    display: block;
    text-align: left;
    margin-left: 0.10290016%;
    margin-top: 9.5px;
    clear: both;
    width: 81.358825%;
    margin-right: 0%;
}

#textinput5 {
    float: none;
    height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
    font-style: italic;
    color: rgb(122, 109, 109);
    background-color: rgb(221, 217, 217);
}

#text15 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-style: normal;
    color: rgb(73, 65, 65);
    font-family: Lato;
}

div.actions input,
#input {
    float: none;
    height: 46px;
    font-size: 1em;
    margin-left: auto;
     clear: none;
    width: 33.101357%;
    margin-right: auto;
    background-color: rgb(122, 201, 67);
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: block;
}

#text3 {
    float: left;
    font-size: 1.2em;
    width: 6.400689%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 3.661637%;
    margin-top: 5px;
    clear: none;
    min-height: 22px;
    margin-right: 0%;
    color: rgb(122, 109, 109);
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-family: FontAwesome;
}

#input:hover {
    background-color: rgb(151, 214, 146);
}

#box2 {
    float: left;
    height: 30px;
    margin-left: 0%;
    margin-top: 2px;
    clear: none;
    width: 18.953804%;
    margin-right: 0%;
    display: block;
}

#text {
    float: left;
    font-size: 1.6em;
    width: 19.797794%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 6px;
    clear: none;
    min-height: 27px;
    font-family: FontAwesome;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

div p {
    float: left;
    font-size: 1.7em;
    width: 77.527574%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: normal;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

