/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#box {
    float: left;
    height: 48px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(122, 201, 67);
}

#box1 {
    float: none;
    height: 34px;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    width: 897.00000474px;
    margin-right: auto;
}

#box3 {
    float: left;
    height: 29px;
    margin-left: 1.22631%;
    margin-top: 3px;
    clear: none;
    width: 381.0625px;
    margin-right: 0%;
    opacity: 0.7;
    background-color: rgb(255, 255, 255);
}

#text2 {
    float: left;
    font-size: 1em;
    width: 86.120223%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.804166%;
    margin-top: 6px;
    clear: none;
    min-height: 0px;
    font-style: italic;
    color: rgb(122, 109, 109);
    margin-right: 0%;
}

#text3 {
    float: left;
    font-size: 1.2em;
    width: 6.400689%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 3.661637%;
    margin-top: 5px;
    clear: none;
    min-height: 22px;
    margin-right: 0%;
    color: rgb(122, 109, 109);
}

#text4 {
    float: right;
    font-size: 1.2em;
    width: 25.982108%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    margin-right: 0%;
}
#text4 a {
    color: white;
}

#input:hover {
    background-color: rgb(151, 214, 146);
}

#input1:hover {
    background-color: rgb(151, 214, 146);
}

#box5 {
    float: none;
    height: 278px;
    margin-left: auto;
    margin-top: 63px;
    clear: none;
    width: 556.015625px;
    background-color: rgb(232, 229, 229);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: auto;
}

#text5 {
    float: none;
    font-size: 2.1em;
    width: 70.529547%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin-left: auto;
    margin-top: 50px;
    clear: none;
    min-height: 48px;
    margin-right: auto;
    color: rgb(73, 65, 65);
    font-family: Lato;
}

#box6 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 22px;
    clear: none;
    width: 452.8593749710937px;
    margin-right: auto;
}

#input {
    float: none;
    height: 46px;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 43.973039%;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: block;
    margin-right: 0%;
    background-color: rgb(122, 201, 67);
    border-width: 0px;
}

#input1 {
    float: none;
    height: 46px;
    font-size: 1em;
    margin-left: 56.026961%;
    margin-top: -46px;
    clear: none;
    width: 43.973039%;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: block;
    margin-right: 0%;
    background-color: rgb(122, 201, 67);
    border-width: 0px;
}

#text6 {
    float: none;
    font-size: 1em;
    width: 65.028396%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin-left: auto;
    margin-top: 19px;
    clear: none;
    min-height: 27px;
    color: rgb(73, 65, 65);
    font-family: Lato;
    margin-right: auto;
}

#box2 {
    float: left;
    height: 30px;
    margin-left: 0.05225753%;
    margin-top: 2px;
    clear: none;
    width: 18.953804%;
    margin-right: 0%;
    display: block;
}

#text {
    float: left;
    font-size: 1.6em;
    width: 19.797794%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 6px;
    clear: none;
    min-height: 27px;
    font-family: FontAwesome;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text1 {
    float: left;
    font-size: 1.7em;
    width: 77.527574%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: normal;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text a, #text1 a {
    color: white;
}

#box4 {
    float: left;
    height: 597px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
}

